@{
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var currentPath = HttpContextAccessor.HttpContext.Request.Path.Value;
}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="@Url.Action("Index","Account")" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="~/src/img/logo.svg" style="width:40px"/>
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">HistoryQuiz</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Layouts -->
        <li class="menu-item @(string.IsNullOrEmpty(currentPath) || currentPath == "/manage/account" ? "active" : "")">
            <a href="@Url.Action("Index","Account")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Tài khoản</div>
            </a>
        </li>

        <li class="menu-item @(string.IsNullOrEmpty(currentPath) || currentPath == "/manage/question" ? "active" : "")">
            <a href="@Url.Action("Index","Question")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Câu hỏi</div>
            </a>
        </li>
        <!-- Cards -->
        <li class="menu-item @(string.IsNullOrEmpty(currentPath) || currentPath == "/manage/result" ? "active" : "")">
            <a href="@Url.Action("Index","Result")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Kết quả</div>
            </a>
        </li>
        <!-- User interface -->
        <li class="menu-item @(string.IsNullOrEmpty(currentPath) || currentPath == "/manage/lesson" ? "active" : "")">
            <a href="@Url.Action("Index","Lesson")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="User interface">Bài học</div>
            </a>
        </li>
        <li class="menu-item @(string.IsNullOrEmpty(currentPath) || currentPath == "/manage/historicalfigure" ? "active" : "")">
            <a href="@Url.Action("Index","HistoricalFigure")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Tables">Nhân vật lịch sử</div>
            </a>
        </li>
        <li class="menu-item @(string.IsNullOrEmpty(currentPath) || currentPath == "/manage/category" ? "active" : "")">
            <a href="@Url.Action("Index","Category")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Elements">Thể loại</div>
            </a>
        </li>
        <li class="menu-item @(string.IsNullOrEmpty(currentPath) || currentPath == "/manage/chapter" ? "active" : "")">
            <a href="@Url.Action("Index","Chapter")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Tables">Chương</div>
            </a>
        </li>


    </ul>
</aside>