@{
    ViewBag.Title = "Quản lý Bài học";
    Layout = "_LayoutAdmin";
}
@model ICollection<HistoryQuizApp.Models.EF.Lesson>
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between py-3 mb-4">
        <h4 class="fw-bold">Danh sách bài học</h4>
        <a href="@Url.Action("AddLesson","Lesson")" class="btn btn-primary">Tạo mới</a>
    </div>
    <div class="card">
        <div class="d-flex align-items-center">
            <h5 class="card-header">Lọc theo lớp</h5>
            <div class="m-0">
                <select class="form-select" id="slectGrade" aria-label="Default select example">
                    <option value="1" selected="@(ViewBag.SelectedGrade == 1 ? "selected" : "")">Lớp 10</option>
                    <option value="2" selected="@(ViewBag.SelectedGrade == 2 ? "selected" : "")">Lớp 11</option>
                    <option value="3" selected="@(ViewBag.SelectedGrade == 3 ? "selected" : "")">Lớp 12</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" style="margin-left:30px" onclick="filter()">Lọc</button>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table id="basic-datatables" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên bài học</th>
                            <th>Tên chương</th>
                            <th>Nội dung</th>
                            <th>Ngày tạo</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td style="display: inline-block; width: 300px;border-right-width: 0;text-overflow: ellipsis;overflow: hidden;">
                                    @item.Name
                                </td>
                                <td>@item.Chapter.ChapterName</td>
                                <td style="display: inline-block; width: 500px;border-right-width: 0;text-overflow: ellipsis;overflow: hidden;">
                                    @item.Content
                                </td>
                                <td>
                                    @item.CreatedAt.ToString("dd-MM-yyyy")
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item get-chapter" data-id="@item.Id" href="@Url.Action("EditLesson","Lesson",new{idlesson =item.Id })"><i class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var gradeId = @ViewBag.SelectedGrade;

    document.querySelectorAll('#slectGrade option').forEach(function (option) {
        if (option.value == gradeId) {
            option.selected = true;
        } else {
            option.selected = false;
        }
    });
    function filter() {
        const gradeid = $('#slectGrade').val();
        location.href = `/manage/lesson?gradeid=${gradeid}`;
    }
    $(document).ready(function () {
        $("#basic-datatables").DataTable({
            order: [[0, 'asc']]
        });
    })

</script>
